span.second-square {
    display: inline-block;
    text-align: center;
    width: 100%;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #20262E;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai', 'Sarabun';
    font-weight: 500;
}


input[type=submit],
input[type=reset] {
    width: 100%;
    padding: 10.5px 10px;
    font-family: 'IBM Plex Sans Thai', 'Sarabun';
    font-size: 19px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    font-weight: 700;
}

input[type=submit]:hover {
    border: 2px solid #913175;
    background: #913175;
    color: white;
}

input[type=reset]:hover,
input[type=submit].reset:hover {
    text-decoration: none;
    border: 2px solid #D61355;
    background: #D61355;
    color: white;
}

label {
    position: relative;
    right: 6%;
    display: block;
    text-align: center;
    background-color: #20262E;
    margin-bottom: 16px;
    padding: 7px;
    font-family: 'IBM Plex Sans Thai', 'Sarabun';
    color: #E9E8E8;
    border-radius: 0 30px 30px 0;
    font-weight: 500;
    font-size: 1.5rem;
}

.square {
    position: relative;
    width: 450px;
    padding: 20px;
    margin: 20px auto;
    background-color: #E9E8E8;
}

.table-set {
    width: 50%;
    margin: 20px;
}

body {
    font-family: 'IBM Plex Sans Thai', 'Sarabun';
}